* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-0: basic-sans, sans-serif;
    --font-1: 'Rubik', basic-sans, sans-serif; /* Use */
    --font-2: 'Karla', sans-serif;
    --font-3: 'Inter', sans-serif; /* Use */
    --font-4: 'Inter Tight', sans-serif; /* Use */
    --font-5: 'Poppins', basic-sans, sans-serif;
    --font-6: 'Roboto Mono', basic-sans, sans-serif; /* Use */

    /* Colors inspired by Monokai  */
    --div-bg-1: hsl(75, 7%, 14%);
    --div-bg-2: rgb(230, 230, 230);

    --primary-dark: #242422; /* Use */
    --secondary-dark: #44463f; /* Use */
    --tertiary: #696D71; /* Use */
    --icon-dark: #FEFEFE; /* Use */
    --orange: #d67f1b; /* Use */
    --green: #B3DB44; /* Use */
    --red: #CA2C6B;
    --blue: #91D8EE;
    --yellow: #E2DA7A; /* Use */

    --primary-light: #FEFEFE;
    --secondary-light: #EEF0F2;
    --icon-light: #161B1E;

    --black: #161616;
    --white: #EEEEEE;
}

h2 {
    font-size: 2rem;
    font-family: var(--font-1);
}

h3 {
    font-size: 4rem;
    font-family: var(--font-1);
}

p {
    font-size: 1.3rem;
    font-family: var(--font-6);
}

h2, h3, p {
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 1);
    margin-bottom: 24px;
}

body {
    background: var(--primary-dark);
}

nav {
    background-color: var(--green);
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 1);

    min-height: 4rem;
    width: 100vw;
    margin-bottom: 10rem;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button {
    background: transparent;
    color: var(--primary-dark);
}

nav h2 {
    text-shadow: none;
    background: transparent;
    color: var(--primary-dark);
    margin: 0px;
}

div.bg {
    width: 100vw;
    height: 100vh;
    margin-bottom: 5rem;

    background: radial-gradient(var(--secondary-dark), var(--primary-dark) 50%);
    background-size: 100% 100%;
    background-position: 50% 50%;
    animation: bg-anim 2s ease-in infinite alternate;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

@keyframes bg-anim {
    0% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 135% 135%;
    }
}

div.bg h3 {
    font-size: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 40px;
}

div.bg .first-name {
    font-size: 1.9em;
    line-height: 90%;
}

div.bg .last-name {
    background-color: white;
    text-shadow: none;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 1);
    padding-left: 1em;
    padding-right: 1em;
    color: var(--primary-dark);
}

div.element {
    margin: 16px;
    padding: 48px;
    width: fit-content;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 1);

    background-color: var(--primary-dark); 
    border: 1px solid var(--tertiary);
    color: var(--white);
}

/* div.element:hover {
    border: 1px solid hsl(0, 0%, 75%);
} */

div.element h2,
div.element h3,
div.element p
{
    color: var(--white);
    text-shadow: none;
}

div.element h2 {
    font-size: 1.25em;
    font-family: var(--font-1);
    color: var(--orange);
}

div.element h3 {
    font-size: 1.15em;
    font-family: var(--font-1);
    color: var(--green);
}

div.element p {
    font-family: 'Inter Tight', basic sans, sans-serif;
}

button {
    border-radius: 16px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: .5rem 2rem;
    margin: .5rem;

    font-size: 1em;
    font-family: var(--font-3);
    font-weight: 700;

    transition: all .3s;
}

button:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;

    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 1);
}

button:active {
    transform: translate(0px, 0px);
}

button.btn-2 {
    background-color: var(--primary-dark);
    border: 1px solid var(--white);
    color: var(--white);

    font-size: 1em;
    font-family: 'Inter', basic sans, sans-serif;
    font-weight: 700;

    transition: all .3s;
}

button.btn-2:hover {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--black);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 1);
    cursor: pointer;
}

button.btn-2:active {
    transform: translate(0px, 0px);
}

strong {
    color: var(--yellow);
}