:root {
    --font-0: basic-sans, sans-serif;
    --font-1: 'Rubik', basic-sans, sans-serif;
    --font-2: 'Karla', sans-serif;
    --font-3: 'Inter', sans-serif;
    --font-4: 'Inter Tight', sans-serif;
    --font-5: 'Poppins', basic-sans, sans-serif;

    /* --gradient-1: linear-gradient(to top right, rgb(150, 150, 150), #4b8b3b, #4b8b3b, #0a728b, #0a728b); */
    --gradient-1: linear-gradient(to bottom, hsl(192, 87%, 49%), #0a728b, hsl(192, 87%, 9%));
    /* --gradient-1-dark: linear-gradient(to bottom, hsl(192, 87%, 29%), #073e4b, hsl(192, 87%, 5%)); */

    /* https://color.adobe.com/Dark-Pond-color-theme-2375068/ */
    --gradient-1-dark: linear-gradient(to bottom, #033B3D, #0D4A3A, #2D5731, #526126, #7B6823);

    /* https://color.adobe.com/Amazon-Woman-color-theme-10234725/ */
    /* --gradient-1-dark: linear-gradient(to bottom, #CEF09D, #A0CD60, #1C646D, #38184C, #1F0802); */

    /* --gradient-1: linear-gradient(to top right, #7faa74, #4b8b3b, #4b8b3b, #0a728b, #4eb2cb); */
    /* --gradient-1: linear-gradient(to bottom right, #0a728b, rgb(150, 150, 150)); */
    /* --gradient-1: linear-gradient(to bottom right, rgb(150, 150, 150), #4b8b3b, hsl(75, 7%, 14%)); */
    /* --gradient-1: #4b8b3b; */
    --gradient-2: linear-gradient(to bottom right, hsl(75, 7%, 14%),  hsl(80, 7%, 9%));

    --div-bg-1: hsl(75, 7%, 14%);
    --div-bg-2: rgb(230, 230, 230);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: var(--gradient-1-dark); */
    background: #033B3D;
    background-size: 200%;
    background-position: 0%;

    /* animation-name: bg-anim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

div.bg {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #efcb60, #7ED957, #0CC0DF);  */
    /* to right, hsl(80, 7%, 9%), blue, hsl(75, 7%, 30%) */
    background-color: #033B3D;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    /* color: rgb(230, 230, 230); */

}

h2 {
    font-size: 2em;
    font-family: var(--font-1);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

h3 {
    font-size: 4em;
    font-family: var(--font-1);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 4px;
}

/* 
div.bg > h3 {
    animation: rotation 2s linear infinite alternate;
}
 */

div.bg > h3:hover {
    animation-play-state: paused;
}

@keyframes rotation {
    0% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

p {
    font-family: var(--font-5);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 8px;
}

h2, h3, p {
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
}

@keyframes bg-anim {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* div.element {
    margin: 16px;
    padding: 48px;
    width: fit-content;
    background: var(--gradient-2);
    border-radius: 16px;
    border: 1px solid rgb(180, 180, 180);
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
} */

div.element {
    margin: 16px;
    padding: 48px;
    width: fit-content;
    /* background: hsl(75, 7%, 14%); */
    /* background: rgb(230, 230, 230); */
    /* background: #073e4b; */
    border-radius: 16px;
    /* border: 1px solid rgb(180, 180, 180); */
    /* border: none; */
    text-align: center;
    /* box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5); */

    background-color: #f4f4f4; /* Light grey */
    border: 2px solid #033B3D; /* Circular border color matching the palette */
    color: #033B3D; /* Text color matching the palette */

    /* background-color: #d4e6e7; Muted pastel teal */
    /* border: 2px solid #0D4A3A; Circular border color matching the palette */
    /* color: #0D4A3A; Text color matching the palette */

    /* background-color: #ffa07a; Light coral */
    /* border: 2px solid #526126; Circular border color matching the palette */
    /* color: #526126; Text color matching the palette */
}

/* div.element:hover {
    border: 1px solid white;
} */

div.element h2,
div.element h3,
div.element p
{
    /* color: white; */
    /* color: rgb(230, 230, 230); */
    color: hsl(75, 7%, 14%);
    text-shadow: none;
}

div.element h2 {
    font-size: 1.25em;
    font-family: var(--font-5);
    /* color: white; */
}

div.element h3 {
    font-size: 1.15em;
    font-family: var(--font-5);
}

div.element p {
    font-family: 'Inter Tight', basic sans, sans-serif;
}

button {
    border-radius: 16px;
    /* border: 1px solid rgb(180, 180, 180); */
    border: none;
    color: hsl(80, 7%, 9%);
    background-color: rgb(230, 230, 230);
    padding: .5rem 2rem;

    font-size: 1em;
    font-family: 'Inter Tight', basic sans, sans-serif;
}

button:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}