:root {
    --font-0: basic-sans, sans-serif;
    --font-1: 'Rubik', basic-sans, sans-serif;
    --font-2: 'Karla', sans-serif;
    --font-3: 'Inter', sans-serif;
    --font-4: 'Inter Tight', sans-serif;
    --font-5: 'Poppins', basic-sans, sans-serif;



    --div-bg-1: hsl(75, 7%, 14%);
    --div-bg-2: rgb(230, 230, 230);

    --primary-dark: #111820;
    --secondary-dark: #293039;
    --tertiary: #696D71;
    --icon-dark: white;
    --blue: #5B9AEC;

    --primary-light: #FEFEFE;
    --secondary-light: #EEF0F2;
    --icon-light: #161B1E;

    --black: #161616;
    --white: #EEEEEE;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: var(--gradient-1-dark); */
    background: var(--primary-dark);

    /* animation-name: bg-anim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
}

div.bg {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to bottom right, #efcb60, #7ED957, #0CC0DF);  */
    /* to right, hsl(80, 7%, 9%), blue, hsl(75, 7%, 30%) */
    /* background-color: #033B3D; */
    background: linear-gradient(to bottom, var(--secondary-dark), var(--primary-dark));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    /* color: rgb(230, 230, 230); */

}

h2 {
    font-size: 2em;
    font-family: var(--font-1);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

h3 {
    font-size: 4em;
    font-family: var(--font-1);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

/* 
div.bg > h3 {
    animation: rotation 2s linear infinite alternate;
}
 */

div.bg > h3:hover {
    animation-play-state: paused;
}

@keyframes rotation {
    0% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

p {
    font-family: var(--font-5);
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

h2, h3, p {
    text-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
}

@keyframes bg-anim {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* div.element {
    margin: 16px;
    padding: 48px;
    width: fit-content;
    background: var(--gradient-2);
    border-radius: 16px;
    border: 1px solid rgb(180, 180, 180);
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
} */

div.element {
    margin: 16px;
    padding: 48px;
    width: fit-content;
    /* background: hsl(75, 7%, 14%); */
    /* background: rgb(230, 230, 230); */
    /* background: #073e4b; */
    /* border-radius: 16px; */
    /* border: 1px solid rgb(180, 180, 180); */
    /* border: none; */
    text-align: center;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 1);

    background-color: var(--primary-dark); /* Light grey */
    border: 1px solid var(--secondary-dark); /* Circular border color matching the palette */
    color: var(--white); /* Text color matching the palette */

    /* background-color: #d4e6e7; Muted pastel teal */
    /* border: 2px solid #0D4A3A; Circular border color matching the palette */
    /* color: #0D4A3A; Text color matching the palette */

    /* background-color: #ffa07a; Light coral */
    /* border: 2px solid #526126; Circular border color matching the palette */
    /* color: #526126; Text color matching the palette */
}

/* div.element:hover {
    border: 1px solid white;
} */

div.element h2,
div.element h3,
div.element p
{
    /* color: white; */
    /* color: rgb(230, 230, 230); */
    /* color: hsl(75, 7%, 14%); */
    color: var(--white);
    text-shadow: none;
}

div.element h2 {
    font-size: 1.25em;
    font-family: var(--font-5);
}

div.element h3 {
    font-size: 1.15em;
    font-family: var(--font-5);
    color: var(--tertiary);
}

div.element p {
    font-family: 'Inter Tight', basic sans, sans-serif;
}

button {
    border-radius: 16px;
    /* border: 1px solid rgb(180, 180, 180); */
    border: none;
    background-color: var(--blue);
    color: var(--white);
    padding: .5rem 2rem;
    margin: .5rem;

    font-size: 1em;
    font-family: var(--font-5);
    font-weight: 700;

    transition: all .5s;
}

button:hover,
button:active 
{
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

button.btn-2 {
    background-color: var(--primary-dark);
    border: 1px solid var(--white);
    color: var(--white);

    font-size: 1em;
    font-family: 'Inter', basic sans, sans-serif;
    font-weight: 700;

    transition: all .5s;
}

button.btn-2:hover,
button.btn-2:active 
{
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}