div.btn-1, div.btn-2 {
    margin: 0px;
    padding: 0px;
    width: fit-content;
}

div.btn-1:hover button, div.btn-2:hover button {
    cursor: pointer;
}

div.btn-1 button, div.btn-2 button {
    margin: 0px;
    padding: 16px;
    border: 1px solid black;
}

div.btn-1 button:nth-of-type(1) {
    position: relative;
    padding: 16px;
    z-index: 3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

div.btn-1 button:nth-of-type(2) {
    position: relative;
    color: transparent;
    transform: translateX(-28px) skewX(-15deg) scaleX(1.00);
    z-index: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;

    transition-property: all;
    transition-duration: 0.2s;
}

div.btn-1:hover button:nth-of-type(2) {
    transform: translateX(-12px) skewX(-15deg) scaleX(1.00);
}

div.btn-1 button:nth-of-type(3) {
    position: relative;
    color: transparent;
    transform: translateX(-20px) skewX(-15deg) scaleX(1.00);
    z-index: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;

    transition-property: all;
    transition-duration: 0.2s;
}

div.btn-1:hover button:nth-of-type(3) {
    transform: translateX(-4px) skewX(-15deg) scaleX(1.00);
}

div.btn-1 button:nth-of-type(4) {
    position: relative;
    color: transparent;
    z-index: 3;
    transform: translateX(-32px);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
}

div.btn-2 button:nth-of-type(1) {
    position: relative;
    z-index: 3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.btn-2 button:nth-of-type(2) {
    position: relative;
    z-index: 4;
    transform: translateX(-8px);
    color: transparent;

    transition-property: all;
    transition-duration: 0.2s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
}

div.btn-2:hover button:nth-of-type(2) {
    transform: translateX(-12px) skewX(-15deg);
}

div.project {
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

div.project img {
    width: 100%;
}

div.project div.project-info {
    padding: 16px;
}

div.project div.project-info * {
    margin: 0px;
    margin-bottom: 16px;
}

div.project-info p.skills {
    line-height: 200%;
    text-align: center;
}

div.project-info p span {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

div.project-info p span:hover {
    background-color: red;
}

div.project div.project-info div.links {
    margin-bottom: 0px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

div.project-info div.links a {
    margin-bottom: 0px;
    font-size: 24px;
    height: 30px;
    color: black;
}

div.project-info div.links a:visited {
    color: black;
}